{% extends "base.html" %}

{% block content %}

    <div class="jumbotron pr-0 pl-0 mb-0"  style = "background-color:#F68A1E;border-radius:0px;padding-bottom:0px">

      <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color:#f5f5f5";>
        <li class="nav-item">
          <a class="nav-link active text-dark" id="chart1-tab" data-toggle="tab" href="#chart1" role="tab" aria-controls="chart1" aria-selected="false">Chart Type-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="chart2-tab" data-toggle="tab" href="#chart2" role="tab" aria-controls="chart2" aria-selected="false">Chart Type-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" id="chart3-tab" data-toggle="tab" href="#chart3" role="tab" aria-controls="chart3" aria-selected="false">Chart Type-3</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade  show active" id="chart1" role="tabpanel" aria-labelledby="chart1-tab">{{ candle|safe }}</div>
        <div class="tab-pane fade" id="chart2" role="tabpanel" aria-labelledby="chart2-tab">{{ scatter|safe }}</div>
        <div class="tab-pane fade" id="chart3" role="tabpanel" aria-labelledby="chart3-tab">{{ scatter_pred|safe }}</div>
      </div>
    </div>
    <div class="jumbotron p-4 m-0"  style = "background-color:#F68A1E;border-radius:0px;">
      <div class="container-fluid bg-3 text-center text-white">
        <h3 style="color:#FFF;">Checkout more</h3>
      </div>
     </div>
    <form method='POST' >
      {% csrf_token %}
      <div class="jumbotron pr-0 pl-0 pt-4"  style = "background-color:#f5f5f5;border-radius:0px;">
        <div class="container-fluid bg-3 text-center text-white">
          <div class="row">
            {% for i in coins %}
            <div class="col-sm-3">
              <button class="btn btn-outline-warning pr-5 pl-5 p-3" name= "coin" value={{ i }}>
              {{ i }}
              </button> 
            </div>
            {% endfor %}
          </div>
        </div><br>
        
        <div class="container-fluid bg-3 text-center text-white" style="background-color:#f5f5f5";>    
          <div class="row">
            {% for i in coins2 %}
            <div class="col-sm-3">
              <button class="btn btn-outline-warning pr-5 pl-5 p-3" name= "coin" value={{ i }}>
              {{ i }}
              </button> 
            </div>
            {% endfor %}
          </div>
        </form>
    </div><br><br>
{% endblock content %}